!!!5
html(lang="en")
    head
        title= pageTitle
    body
        h1 New Article
        form(action='/article', method='post')
            div
                label(for='author') Author
                input(name='author', type='text')
            div
                label(for='title') Title
                input(name='title', type='text')
            div
                label(for='content') Content
                input(name='content', type='text')
            div
                label(for='date') Date
                input(name='date', type='text')
            div
                label() Publish
                input(name='publish', type='checkbox')
            div
                input(type='submit', value='Send New Article')