body
    include header
    div.container
        div.navigation
            ul
                li: a(href='/') Home
                li: a(href='/articles') Articles
                li: a(href='/article/new') New Article
                li: a(href='/reception') Reception
                li: a(href='/ceremony') Ceremony
    include footer