!!!
html
  head
    title= pageTitle
    link(rel='stylesheet', href='stylesheets/elastic.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script (src='library/js/elastic.js', type='text/javascript')
  body!= body