!!!5
html(lang="en")
    head
        title= pageTitle
    body
        div: h1 Login
        div
            form(action='/login', method='post')
                div
                    label(for='username') username
                    input(name='username', type='text')
                div
                    label(for='password') password
                    input(name='password', type='password')
                div
                    input(type='submit', value='Login')
        div: a(herf='/') Home