body {
    padding: 50px;
}

.header {
    font-size: 30px;
}

.container {
    font-size: 13px;
}

.navigation a:link,
.navigation a:visited {
    color: #00FF00;
    text-decoration: none;
    margin: 0 10px;
}

.navigation a:hover{
    color: green;
    margin: 0 10px;
}

.navigation li{
    list-style: none;
    margin: 2px;
    padding: 2px;
}

.footer {
    font-size: 10px;
    color: #CCCCCC;
}